body {
  font-family: 'EB Garamond';    
  background-color: #f2f2f2f1;
  background-image: url("Library_management.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure the body covers the entire viewport */
}

.center-screen {
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}


h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #325b74;
    color: #ccc;
    padding: 10px;
    border-radius: 8px;
    margin: 50px;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  height:450px;
  padding: 2em;
  background-color: #171717;
  border-radius: 22px;
  margin-bottom: 100px;
  margin-top: -32px;
  margin-left: -32px;
}

  .form:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
  }
  #heading {
    text-align: center;
    margin: 2em;
    color: rgb(0, 255, 200);
    font-size: 1.2em;
  }
  .field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  #button {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
  }
  .input-field {
    background: none;
    border: 1px;
    outline: none;
    width: 100%;
    color: rgb(0, 255, 200);
  }
  .button1 {
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: 1s ease-in-out;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    color: rgb(0, 0, 0);
  }
  
  .button1:hover {
    background-image: linear-gradient(163deg, #00642f 0%, #13034b 100%);
    color: rgb(0, 255, 200);
  }
  
  .card {
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 22px;
    transition: all .3s;
    width: 300px;
    padding: 2em;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    height: 450px;
  }
  
  .card2 {
    border-radius: 0;
    transition: all .2s;
  }
  
  .card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
  }
  
  .card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
  }

table {
    
    width: 100%;
    padding: 10px;
    display: flex;
    border-spacing: 10px;
    margin-bottom: 20px;
    margin-right: 45px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
}

input[type="text"], input[type="date"], select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #2a7085;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    font-size: 17px;
    margin-top: 5px;
    text-align: center;
}
